.meOuterBox {
    max-width: 1000px;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    border-color: #000;
}

.meInnerBox {
    width: 100%;
}

.meLeftImage {
    background: url("https://images.pexels.com/photos/1181325/pexels-photo-1181325.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260") no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 200px;
}

.helptext {
    color: gray;
    font-size: 0.75em;
}

label {
    display: block;
    margin-bottom: 0px;
}

.meRightBox {
    background: rgba(81, 86, 83, 0.05);
}

.meCardBody {
    padding: 10%;
}

.border {
    margin: 24px 0;
    display: flex;
    align-items: center;
    width: 100%;
    border: white;
}

.line {
    width: 500px;
    border-bottom: 1px solid #dde1e7;
}

.or {
    display: block;
    font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -.35px;
    text-align: center;
    color: #b0b4bd;
    margin: 0 16px;
    width: 30px;
}

.border span {
    justify-content: center;

}
