{% extends 'chats/chat-base.html' %}

{% comment %} {% block search  %}
<label for=""><i aria-hidden="true" class="fa fa-search"></i></label>
<input placeholder="Search friends..." type="text"/>
{% endblock search %} {% endcomment %}

{% block contacts %}
<ul>

    {% for each in recents %}
    <li class="contact  {% if each.frnd.username == activeFrnd.username %} active {% endif %} ">
        <div class="wrap" onclick="chatRedirect('{{ each.frnd.username }}')">
            <!--            <span class="contact-status online"></span>-->
            <img alt="" src="{{ each.frnd.profile.userPic.url }}"/>
            <div class="meta">
                <p class="name">{{each.frnd.first_name }} {{each.frnd.last_name}}</p>
                <p class="preview">{% if each.isYou %}<span>You: </span>{%endif%}{{each.lastMsg}}</p>
            </div>
        </div>
    </li>
    {% endfor %}

</ul>
{% endblock contacts %}

{% block bottom-bar %}
<button onclick="location.href='{% url 'waiting' %}';">Chat Anonymously</button>
{% endblock bottom-bar %}

{% block contact-profile%}
    <img alt="" src="{{activeFrnd.profile.userPic.url }}"/>
    <p>{{ activeFrnd.first_name}} {{activeFrnd.last_name}}</p>
    <div class="social-media">
    </div>
{% endblock contact-profile%}


{% block msgItems %}
            <ul>
                {% for msg in activeFrndMsgs %}
                <li class=" {% if msg.sender == user %} replies  {% else %} sent {% endif%} ">

                    <p>{{ msg.message }}</p>
                </li>
                {% endfor %}

            </ul>

{% endblock msgItems %}
