{% extends 'chats/chat-base.html' %}

{% block contacts %}
<div>
    {% include countdown.html %}
</div>
{% endblock contacts %}

{% block bottom-bar %}
<button onclick="location.href='#';">Add Friend</button>
<button onclick="location.href='/';">Back</button>
{% endblock bottom-bar %}

{% block contact-profile%}
    <img alt="" src="{{activeFrnd.profile.userPic.url }}"/>
    <p>{{ activeFrnd.first_name}} {{activeFrnd.last_name}}</p>
    <div class="social-media">
    </div>
{% endblock contact-profile%}
